#banner{
    height: 460px;
    background: url(../img/banner-bg.jpg) repeat-x;
}
#banner .wrapper{
    position: relative;
}
#banner .arrow{
    width: 29px;
    height: 50px;
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -25px;
}
#banner .prev{
    background-position: 0 -14px;
    left: 0;
}
#banner .next{
    background-position: -29px -14px;
    right: 0;
}